<html>
<head>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="../static/css/colors.css/">
    <style>
        .heading{
        font-family: Helvetica, sans-serif;
        font-size: 54px;
        color: #464975;
    }
h1
{
    color: whitesmoke;
    font-family: Helvetica, sans-serif;
    font-size: 54px;
}

body
{
background:blueviolet;

}

    </style>
</head>
<body>
<center>
<h1>Downloaded</h1>
<h2>Video: {{video_title}}</h2>
</center>
</body>
</html>